@page
@model RandaManga.Pages.CatalogModel

<script src="/js/catalog.js"></script>
<div class="catalogFilterDiv">
    <form method="post" asp-page-handler="FiltersApplied" class="allFiltersForm">
        <div class="tagsChoosingMode">
            <div class="tagsChoosingModeTopLayoutDiv">
                <svg onclick="tagsOnClickHandlerHide()" fill="#88495E" class="svgBackIcon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="-2.67 -2.67 32.02 32.02" xml:space="preserve" stroke="#88495E" stroke-width="0.00026676">
                <g id="SVGRepo_iconCarrier">
                <g>  <path d="M26.105,21.891c-0.229,0-0.439-0.131-0.529-0.346l0,0c-0.066-0.156-1.716-3.857-7.885-4.59 c-1.285-0.156-2.824-0.236-4.693-0.25v4.613c0,0.213-0.115,0.406-0.304,0.508c-0.188,0.098-0.413,0.084-0.588-0.033L0.254,13.815 C0.094,13.708,0,13.528,0,13.339c0-0.191,0.094-0.365,0.254-0.477l11.857-7.979c0.175-0.121,0.398-0.129,0.588-0.029 c0.19,0.102,0.303,0.295,0.303,0.502v4.293c2.578,0.336,13.674,2.33,13.674,11.674c0,0.271-0.191,0.508-0.459,0.562 C26.18,21.891,26.141,21.891,26.105,21.891z" /> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </g> </g>
            </svg>
                <button onclick="deleteAllTags()" class="deleteAllTagsButton">
                    Очистить теги
                </button>
            </div>
            <div class="tagsList">
                @foreach (string tag in Model.Filters.Tags.Keys)
                {
                    <div class="tagChoosingDiv">
                        <label class="tagChoosingLabel">@tag</label>
                        <input type="checkbox" asp-for="@Model.Filters.Tags[tag]" class="tagChoosingCheckBox">

                    </div>
                }
            </div>
            <div class="ButtonContainer">
                <button class="tagsChoosingModeBottomLayoutButton" type="submit">
                    Подтвердить
                </button>
            </div>
        </div>
        <div class="catalogFilterTagDiv" onclick="tagsOnClickHandlerShow()" id="catalogFilterTagDiv">
            @{
                int count = Model.Filters.SelectedTagsCountGet();
            }
            @if (count <= 0)
            {
                <p class="filtersText">Теги</p>
            }
            else
            {
                <p class="filtersText">Выбрано тегов @count</p>
            }
            <svg class="svgTagAddIcon" viewBox="0 -4.5 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#88495E" transform="rotate(90)">

                <g id="SVGRepo_bgCarrier" stroke-width="0" />
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round" />
                <g id="SVGRepo_iconCarrier"> 
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Dribbble-Light-Preview" transform="translate(-260.000000, -6684.000000)" fill="#88495E"> 
                            <g id="icons" transform="translate(56.000000, 160.000000)"> 
                                <path class="svgLine" d="M223.707692,6534.63378 L223.707692,6534.63378 C224.097436,6534.22888 224.097436,6533.57338 223.707692,6533.16951 L215.444127,6524.60657 C214.66364,6523.79781 213.397472,6523.79781 212.616986,6524.60657 L204.29246,6533.23165 C203.906714,6533.6324 203.901717,6534.27962 204.282467,6534.68555 C204.671211,6535.10081 205.31179,6535.10495 205.70653,6534.69695 L213.323521,6526.80297 C213.714264,6526.39807 214.346848,6526.39807 214.737591,6526.80297 L222.294621,6534.63378 C222.684365,6535.03868 223.317949,6535.03868 223.707692,6534.63378" id="arrow_up-[#337]"> </path>
                            </g>
                        </g>
                    </g>
                </g>

            </svg>
        </div>
        <div id="allOtherFiltersDiv" class="allOtherFiltersDiv">

            <p class="formLabel">Год выпуска</p>
            <div class="yearRangeInput">
                <p class="auxiliaryText">от</p>
                <input type="text" class="yearInputField" asp-for="@Model.Filters.MinYear" />
                <p></p>
                <p class="auxiliaryText">до</p>
                <input type="text" class="yearInputField" asp-for="@Model.Filters.MaxYear" />
            </div>
            <p class="formLabel">Возрастной рейтинг</p>
            <div class="ageRaitingContainer">
                <p class="ageRaitingLabel">Отсутствует</p>
                <input asp-for="@Model.Filters.AgeRatingAbsent" class="ageRaitingCheckbox" />
                <p class="ageRaitingLabel">16+</p>
                <input asp-for="@Model.Filters.AgeRating16" class="ageRaitingCheckbox" />
                <p class="ageRaitingLabel">18+</p>
                <input asp-for="@Model.Filters.AgeRating18" class="ageRaitingCheckbox" />
            </div>
            <p class="formLabel">Тип</p>
            <div class="mangaTypeContainer">
                <p class="mangaTypeLabel">Манга</p>
                <input asp-for="@Model.Filters.Manga" class="ageRaitingCheckbox" />
                <p class="mangaTypeLabel">Манхва</p>
                <input asp-for="@Model.Filters.Manhwa" class="ageRaitingCheckbox" />
                <p class="mangaTypeLabel">Маньхуа</p>
                <input asp-for="@Model.Filters.Manhua" class="ageRaitingCheckbox" />
            </div>
            <p class="formLabel" style="margin-top:9%">Статус тайтла</p>
            <div class="mangaStatusContainer">
                <p class="mangaStatusLabel">Прекращен</p>
                <input asp-for="@Model.Filters.Suspended" class="ageRaitingCheckbox" />
                <p></p>
                <p class="mangaStatusLabel">Анонс</p>
                <input asp-for="@Model.Filters.Announcement" class="ageRaitingCheckbox" />
                <p class="mangaStatusLabel">Завершен</p>
                <input asp-for="@Model.Filters.Completed" class="ageRaitingCheckbox" />
                <p></p>
                <p class="mangaStatusLabel">Онгоинг</p>
                <input asp-for="@Model.Filters.Ongoing" class="ageRaitingCheckbox" />
            </div>
            <div class="FormButtonsContainer">
                <button class="filterFormButtons" type="reset">
                    Очистить
                </button>
                <button class="filterFormButtons" type="submit">
                    Подтвердить
                </button>
            </div>

        </div>
    </form>
</div>
@if (Model.mangaListToShow.Count > 0)
{
    <div class="catalogContainer">
        @foreach (RandaManga.Models.Manga item in Model.mangaListToShow)
        {
            <a class="catalogMangaLink" asp-page="MangaPage" asp-route-id="@item.Id">
                <img src="@item.GetFullImagePath()" class="catalogImage">
                <p class="catalogMangaLabel">@item.Name</p>
            </a>

        }
    </div>
}
else
{
    <p class="notFoundLabel">Мы не нашли ни одной манги,манхвы или маньхуа, которые бы полностью соответствовали вашему выбору :( <br>Попробуйте немного поменять ваши фильтры</p>
}