@page "{id}"
@model RandaManga.Pages.MangaPageModel
@{
    <p>@Model.MangaToShow.Name</p>
    <p>@Model.MangaToShow.Name</p>
    <p>@Model.MangaToShow.Name</p>
    <p>@Model.MangaToShow.Name</p>
    <p>@Model.MangaToShow.Name</p>
    <p>@Model.MangaToShow.Name</p>
    <p>@Model.MangaToShow.Name</p>
    <p>@Model.MangaToShow.Name</p>
    <p>@Model.MangaToShow.Name</p>
    <p>@Model.MangaToShow.Name</p>
    <p>@Model.MangaToShow.Name</p>
    <p>@Model.MangaToShow.Name</p>
    <p>@Model.MangaToShow.Name</p>
    <p>@Model.MangaToShow.Name</p>
    <p>@Model.MangaToShow.Name</p>
    <p>@Model.MangaToShow.Name</p>
    <p>@Model.MangaToShow.Name</p>
    <p>@Model.MangaToShow.Name</p>
    <p>@Model.MangaToShow.Name</p>
    <p>@Model.MangaToShow.Name</p>
    <p>@Model.MangaToShow.Name</p>
    <p>@Model.MangaToShow.Name</p>
    <p>@Model.MangaToShow.Name</p>
    <p>@Model.MangaToShow.Name</p>
    <p>@Model.MangaToShow.Name</p>
}
